backgroundTransfer-flash/target/*
backgroundTransfer-flash/.idea/*
backgroundTransfer-ios/target/*
backgroundTransfer-ios/src/xcode/BackgroundTransfer-ios.xcodeproj/xcuserdata/*
backgroundTransfer-ios/src/xcode/BackgroundTransfer-ios.xcodeproj/project.xcworkspace/*
backgroundTransfer-ios/src/xcode/DerivedData/*
backgroundTransfer-android/target/*
backgroundTransfer-android/.idea/*
testapp/target/*
testapp/.gradle/*
testapp/build/*
testapp/.idea/*
testapp/certificates/development/*
.idea/*
**.iml
